<!-- <app-card titulo="N7" banner="https://c4.wallpaperflare.com/wallpaper/816/279/804/bioware-cerberus-deep-space-galaxy-wallpaper-preview.jpg" username="Shepard"></app-card>

<app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>
 ao clicar no botão desejo executar o método click do input -->
<!-- Variáveis de Template - Template Variables 
<input type="file" #inputFile>  [dadosCartao]="formCartaoDeCredito"
<button id="btn" (click)="inputFile.click()">Selecionar um arquivo</button> -->

<app-cartaocredito [dadosCartao]="formCartaoDeCredito" ></app-cartaocredito>
<app-formulario-cartao-credito></app-formulario-cartao-credito>


