<!-- <p>{{ title }}</p>
<p>{{11*15}}</p>
<p>O resultado da soma de 20+10 é {{ somar(20,10) }}</p>
<input [type]="tipoInput" [value]="title">
<button (click)="mudarTipoDoInput()">Mostrar/esconder</button> 
<input type="number" placeholder="Digite o 1º numero" [(ngModel)]="n1" name="valor1">
<input type="number" placeholder="Digite o 2º numero" [(ngModel)]="n2" name="valor2">
<p>
  {{n1}} + {{n2}} = {{n1+n2}}
</p> -->
<div class="contador">
<button (click)="n1=n1+1" class="btn-mais"><h1>+</h1></button>
<h1>{{n1}}</h1>
<button (click)="n1=n1-1" class="btn-menos"><h1>-</h1></button>
</div>